<a href="https://colab.research.google.com/github/wooookim/ML-DL/blob/main/%EC%84%9C%EC%9A%B8%EC%8B%9C_%ED%8F%89%EA%B7%A0_%EA%B8%B0%EC%98%A8_%EC%98%88%EC%B8%A1_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/train.csv')
submission = pd.read_csv('/content/sample_submission.csv')

In [41]:
# '일시' 열을 날짜 데이터로 변환
data['일시'] = pd.to_datetime(data['일시'])

# 계절 분류 함수 정의
def classify_season(month):
    if  month == 1 or month == 2 or month == 12:
        return '겨울'
    elif 3 <= month <= 5:
        return '봄'
    elif 6 <= month <= 8:
        return '여름'
    else:
        return '가을'

# '일시' 컬럼에서 월 정보를 추출하여 '계절' 열 추가
data['월'] = data['일시'].dt.month
data['계절'] = data['월'].apply(classify_season)

# 계절별 중앙값 계산
seasonal_medians = data.groupby('계절').transform('median')

# 결측값 대체
data.fillna(seasonal_medians, inplace=True)

<ipython-input-41-0f79c27d480d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  seasonal_medians = data.groupby('계절').transform('median')

In [42]:
# 2월 29일에 해당하는 행 선택
selected_rows = data[(data['일시'].dt.month == 2) & (data['일시'].dt.day == 29)]

# 29일에 해당하는 16개 행
# 23011 - 16 = 22995

# 선택한 행의 인덱스를 사용하여 삭제
data = data.drop(selected_rows.index)

In [43]:
data = data.reset_index()

In [44]:
train = data[['최고기온', '최저기온', '일교차', '강수량', '평균습도', '평균풍속', '일조합', '일사합', '일조율']]

target = data['평균기온']

In [45]:
print(train.head())
print(train.info())

   최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합  일사합   일조율
0   2.2  -5.2   7.4  0.3  68.3   1.7  6.7  8.0  63.7
1   1.2  -5.6   6.8  0.4  87.7   1.3  0.0  8.0  63.7
2   8.7  -2.1  10.8  0.0  81.3   3.0  0.0  8.0  63.7
3  10.8   1.2   9.6  0.0  79.7   4.4  2.6  8.0  63.7
4   1.3  -8.2   9.5  0.3  44.0   5.1  8.2  8.0  63.7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22995 entries, 0 to 22994
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   최고기온    22995 non-null  float64
 1   최저기온    22995 non-null  float64
 2   일교차     22995 non-null  float64
 3   강수량     22995 non-null  float64
 4   평균습도    22995 non-null  float64
 5   평균풍속    22995 non-null  float64
 6   일조합     22995 non-null  float64
 7   일사합     22995 non-null  float64
 8   일조율     22995 non-null  float64
dtypes: float64(9)
memory usage: 1.6 MB
None

In [46]:
target.head()

0   -1.6
1   -1.9
2    4.0
3    7.5
4   -4.6
Name: 평균기온, dtype: float64

In [47]:
train = train[3650:]
target = target[3650:]

train = train.reset_index()
target = target.reset_index()


print(train.info())
print(target.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19345 entries, 0 to 19344
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   19345 non-null  int64
 1   최고기온    19345 non-null  float64
 2   최저기온    19345 non-null  float64
 3   일교차     19345 non-null  float64
 4   강수량     19345 non-null  float64
 5   평균습도    19345 non-null  float64
 6   평균풍속    19345 non-null  float64
 7   일조합     19345 non-null  float64
 8   일사합     19345 non-null  float64
 9   일조율     19345 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19345 entries, 0 to 19344
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   19345 non-null  int64
 1   평균기온    19345 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 302.4 KB
None

In [51]:
train = train.drop('index', axis=1)
target = target.drop('index', axis=1)

print(train.info())
print(target.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19345 entries, 0 to 19344
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   최고기온    19345 non-null  float64
 1   최저기온    19345 non-null  float64
 2   일교차     19345 non-null  float64
 3   강수량     19345 non-null  float64
 4   평균습도    19345 non-null  float64
 5   평균풍속    19345 non-null  float64
 6   일조합     19345 non-null  float64
 7   일사합     19345 non-null  float64
 8   일조율     19345 non-null  float64
dtypes: float64(9)
memory usage: 1.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19345 entries, 0 to 19344
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   평균기온    19345 non-null  float64
dtypes: float64(1)
memory usage: 151.3 KB
None

In [52]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures()
poly.fit(train)
train_poly = poly.transform(train)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_poly, target)

# print(lr.score(train_poly, target))

from sklearn.metrics import mean_absolute_error
lr_pred = lr.predict(train_poly)

lr_mae = mean_absolute_error(target, lr_pred)

print("훈련 세트 MAE:", lr_mae)

submission['평균기온'] = lr_pred[:358]
# submission.to_csv("DEAGYUL_9_submission.csv", index=False)

print(submission.head(100))

훈련 세트 MAE: 0.3578173282465275
            일시       평균기온
0   2023-01-01   0.094039
1   2023-01-02  -1.001492
2   2023-01-03  -4.980850
3   2023-01-04 -13.596549
4   2023-01-05 -14.820412
..         ...        ...
95  2023-04-06   8.036493
96  2023-04-07   7.526149
97  2023-04-08   7.909111
98  2023-04-09  10.752963
99  2023-04-10  12.919923

[100 rows x 2 columns]

In [53]:
submission.to_csv("DEAGYUL_19_submission.csv", index=False)

print(submission.head(30))

            일시       평균기온
0   2023-01-01   0.094039
1   2023-01-02  -1.001492
2   2023-01-03  -4.980850
3   2023-01-04 -13.596549
4   2023-01-05 -14.820412
5   2023-01-06  -4.073376
6   2023-01-07  -4.346673
7   2023-01-08  -3.827487
8   2023-01-09  -7.116881
9   2023-01-10  -6.125682
10  2023-01-11  -3.958298
11  2023-01-12  -0.426415
12  2023-01-13  -8.951407
13  2023-01-14 -10.146280
14  2023-01-15 -12.394464
15  2023-01-16 -11.814327
16  2023-01-17 -11.409095
17  2023-01-18  -8.535631
18  2023-01-19  -6.908598
19  2023-01-20  -5.588712
20  2023-01-21  -2.834235
21  2023-01-22   1.411281
22  2023-01-23  -4.200978
23  2023-01-24  -5.376997
24  2023-01-25  -2.900670
25  2023-01-26  -0.036012
26  2023-01-27   1.239943
27  2023-01-28   2.617267
28  2023-01-29   2.319372
29  2023-01-30   1.872337

제일 괜찮은 점수를 받았던 모델에 전처리를 적용했는데 점수가 처참

적용해본 거

1. 윤년 삭제
2. 선형회귀에서 가장 효과가 좋았던 70년대 이후 데이터로 적용